<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Entidad2</title>
    <link rel="stylesheet" th:href="@{/crearstyles.css}" />

</head>
<body>
<h1>Crear Entidad2</h1>
<form th:action="@{/entidad2}" th:object="${entidad2}" method="post">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" th:field="*{cantidad}">
    <br>
    <button type="submit">Guardar</button>
</form>
</body>
</html>
