<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Entidad3</title>
    <link rel="stylesheet" th:href="@{/editarstyles.css}" />

</head>
<body>
<h1>Editar Entidad3</h1>
<form th:action="@{/entidad3/editar/{id}(id=${entidad3.idEntidad3})}" th:object="${entidad3}" method="post">
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" th:field="*{descripcion}">
    <br>
    <button type="submit">Actualizar</button>
</form>
</body>
</html>
