<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Entidades</title>
    <link rel="stylesheet" th:href="@{/index.css}" />

</head>
<body>
<h1>Bienvenido a la Gestión de Entidades</h1>

<h2>Entidades</h2>
<ul>
    <li><a href="/entidad1">Lista de Entidad1</a> | <a href="/entidad1/crear">Crear Entidad1</a></li>
    <li><a href="/entidad2">Lista de Entidad2</a> | <a href="/entidad2/crear">Crear Entidad2</a></li>
    <li><a href="/entidad3">Lista de Entidad3</a> | <a href="/entidad3/crear">Crear Entidad3</a></li>
    <li><a href="/entidad4">Lista de Entidad4</a> | <a href="/entidad4/crear">Crear Entidad4</a></li>
</ul>

</body>
</html>
